<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
            Made with <img style="width:14px;" src="/images/heart.svg"> in Bandung using <a href="https://gohugo.io/" target="_blank">Hugo 0.51</a>, All Articles Licensed Under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>
			</div>
            <div class="col-md-6 col-sm-6 text-center text-lg-right">    
            Privacy Policy | Term of Service
			</div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->
